{% extends 'baseAdmin.html.twig' %}

{% block title %}Admin création accueil | Trail des jambes Allaire{% endblock %}

{% block body %}
    <h1>Créer un nouvel accueil</h1>

    {{ include('home/_form.html.twig') }}

    <a class="backList" href="{{ path('home_index') }}"><span>Retour à la liste</span></a>
{% endblock %}
