{% extends 'base.html.twig' %} {% block title %}Mentions légales | Trail des jambes Allaire
{% endblock %} {% block body %}

<section>
  <div class="container">
    <div class="boxLegalNotice">
      <h1 class="titleLegalNotice mb-4 py-5">MENTIONS LÉGALES</h1>
    </div>
    <div class="row">
      <div class="col-sm-12 LegalNotice">
       <h2 class="subtitleLegalNotice1"> ÉDITEUR DU SITE INTERNET</h2>
	   <p class="paragraphlegalNotice mb-3 py-5"> L'éditeur du site Internet BISSON Guillaume est
        l'association CLUB SOCIOS : CLUB SOCIOS -Blanchard Benoit Allée du
        verger 56350 Allaire Responsable de la publication : Monsieur Blanchard
        Benoit. Propriété de l'éditeur : tous les éléments sur le site Internet
        trail des jambes Allaire sont la propriété intégrale de l'éditeur.</p> 
		
		
		<h2 class="subtitleLegalNotice">DESIGN DU SITE INTERNET</h2>
        <P class="paragraphlegalNotice mb-3 py-5">BISSON Guillaume Site Web: <a href="https://guillaume-bisson.fr">https://guillaume-bisson.fr</a></P>


		 <h2 class="subtitleLegalNotice">RÉALISATION DU SITE INTERNET</h2> 
		<p class="paragraphlegalNotice mb-3 py-5">Création du site, mise en page et référencement du site Internet BISSON Guillaume.<br>
			Email: <a class="linkLegalNotice" href="mailto:bisson_guillaume@yahoo.fr" target="bank">bisson_guillaume@yahoo.fr</a></p> 
		 
			
			
			
		<h2 class="subtitleLegalNotice">HÉBERGEUR DU SITE INTERNET</h2>
			<P class="paragraphlegalNotice mb-3 py-5"> L'hébergeur du site internet O2SWITCH et BISSON Guillaume.</P>
			
        <h2 class="subtitleLegalNotice">DONNÉES PERSONNELLES ET VIE PRIVÉE</h2> 
		<P class="paragraphlegalNotice mb-3 py-5">Les informations recueillies sur le
			site Internet le trail des jambes Allaire font l'objet d'un traitement
			automatisé de données. Le destinataire des données est l'association
			CLUB SOCIOS éditeur du site Internet. Conformément à la loi
			"informatique et libertés" du 6 Janvier 1978 modifiée en 2004, vous
			bénéficiez d'un droit d'accès et de rectification aux informations qui
			vous concernent, que vous pouvez exercer en vous adressant à : CLUB
			SOCIOS -Blanchard Benoit Allée du verger 56350 Allaire Vous pouvez
			également, pour des motifs légitimes, vous opposer au traitement des
			données vous concernant.</P> 
      </div>
    </div>
  </div>
</section>

{% endblock %}
