* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
}

#navbar {
  display: flex;
  justify-content: space-around;
  padding: 23px 13px;
  font-size: 1.3em;
}

.navbar-brand {
  display: inline-block;
  padding-top: 0.3125rem;
  padding-bottom: 0.3125rem;
  margin-right: 0;
  font-size: 1.25rem;
  line-height: inherit;
  white-space: nowrap;
}

.navbar-light .navbar-brand {
  color: rgba(0, 0, 0, 0.9);
  width: 100px;
}

.fixed-top {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1030;
}

.bg-light {
  background-color: transparent !important;
}

.fixed-top.scrolled {
  background-color: #000 !important;
  transition: background-color 200ms linear;
  height: 150px;
}

.dropdown:hover .dropdown-menu {
  display: block;
  margin-top: 0;
}

.d-md-block {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 161px;
}

.navbar-light .navbar-toggler {
  border-color: #fff;
  color: #fff;
}

.nav-link .dropdown-toggle .Nav {
  color: #fff !important;
}

.nav-item .dropdown:hover {
  display: block !important;
}

.nav-link {
  display: block;
  padding: 0.5rem 1rem;
  text-decoration: none;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out;
  color: #FFF;
}

.navbar-light .navbar-toggler-icon {
  color: #fff !important;
  background-color: #fff;
}

.navbar-toggler-icon {
  color: #fff;
}

#Logo {
  width: 173px;
}

.Container-Nav {
  padding: 0;
}

.Box-Nav {
  padding: 0;
  height: 120px;
}

.navbar-nav {
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}

.navbar-toggler-icon {
  color: #fff;
}

.Home {
  color: #6b90bb !important;
  font-size: 1.3rem;
}

.Home.scrolled, .Nav.scrolled {
  color: #6b90bb !important;
}

.dropdown-toggle, .nav-link:hover {
  color: #aad044 !important;
}

.Background-Nav {
  background-color: #000;
}

.Nav {
  color: #fff !important;
  font-size: 1.3rem;
}

.Subtitle {
  background-color: #6b90bb;
}
.Subtitle .Subtitle-Item {
  color: #fff;
  transition: 0.3s;
}
.Subtitle .Subtitle-Item::after {
  content: "";
  display: block;
  border-bottom: 1px solid #aad044;
}

.Subtitle-Item:hover {
  background-color: #aad044;
}

.Caption .Trail {
  color: #6b90bb;
  font-family: "Barlow", sans-serif;
  font-weight: 700;
  letter-spacing: 5px;
  text-shadow: 0 2px 0 BLACK, 0 2px 0 #e5e5e5, -1px 3px 0 #c8c8c8, -1px 4px 0 #c1c1c1, -2px 5px 0 #b9b9b9, -2px 6px 0 #b2b2b2, -2px 7px 2px rgba(0, 0, 0, 0.6), -2px 7px 8px rgba(0, 0, 0, 0.2), -2px 7px 45px rgba(0, 0, 0, 0.4);
}
.Caption .Legs-alaire {
  color: #aad044;
  font-family: "Barlow", sans-serif;
  font-weight: 700;
  letter-spacing: 5px;
  text-shadow: 0 2px 0 BLACK, 0 2px 0 #e5e5e5, -1px 3px 0 #c8c8c8, -1px 4px 0 #c1c1c1, -2px 5px 0 #b9b9b9, -2px 6px 0 #b2b2b2, -2px 7px 2px rgba(0, 0, 0, 0.6), -2px 7px 8px rgba(0, 0, 0, 0.2), -2px 7px 45px rgba(0, 0, 0, 0.4);
  font-size: 2.4rem;
}

.Container-Carousel {
  margin: 0;
  padding: 0;
  width: 100%;
  border-bottom: 1px solid #60ae46;
}

.Caption .Trail {
  color: #6b90bb;
  font-family: "Barlow", sans-serif;
  font-weight: 700;
  letter-spacing: 5px;
  text-shadow: 0 2px 0 BLACK, 0 2px 0 #e5e5e5, -1px 3px 0 #C8C8C8, -1px 4px 0 #C1C1C1, -2px 5px 0 #B9B9B9, -2px 6px 0 #B2B2B2, -2px 7px 2px rgba(0, 0, 0, 0.6), -2px 7px 8px rgba(0, 0, 0, 0.2), -2px 7px 45px rgba(0, 0, 0, 0.4);
  font-size: 3Rem;
}
.Caption .Legs-alaire {
  color: #aad044;
  font-family: "Barlow", sans-serif;
  font-weight: 700;
  letter-spacing: 5px;
  text-shadow: 0 2px 0 BLACK, 0 2px 0 #e5e5e5, -1px 3px 0 #C8C8C8, -1px 4px 0 #C1C1C1, -2px 5px 0 #B9B9B9, -2px 6px 0 #B2B2B2, -2px 7px 2px rgba(0, 0, 0, 0.6), -2px 7px 8px rgba(0, 0, 0, 0.2), -2px 7px 45px rgba(0, 0, 0, 0.4);
  font-size: 2.4Rem;
}

.go {
  background-color: #aad044;
  border: 1px solid #000;
  color: #fff;
  padding: 15px 25px;
  font-size: 24px;
  border-radius: 12px;
  text-transform: uppercase;
  cursor: pointer;
  box-shadow: 0 9px #60ae46;
  margin-bottom: 20px;
}

.go:hover {
  box-shadow: 0 6px #60ae46;
  transform: translateY(3px);
}

.go:active {
  transform: translateY(7px);
  box-shadow: 0 2px #60ae46;
}

.Actualite-Title h2 {
  text-align: center;
  padding-top: 100px;
  color: #aad044;
  padding: 50px;
}

.Actualite-Title::before {
  content: "";
  display: block;
  border: 3px solid #aad044;
  width: 30%;
  margin: 0 auto;
  margin-top: 50px;
}

.Actualite-Title::after {
  content: "";
  display: block;
  border: 3px solid #aad044;
  width: 30%;
  margin: 0 auto;
  margin-bottom: 68px;
}

.Img-Logo {
  float: left;
  padding: 5px 10px;
}

.Paragraph-Socio {
  text-align: justify;
  color: #fff;
  font-family: "Barlow", sans-serif;
  font-weight: 400;
  margin-top: 50px;
}

.Paragraph-Socio::after {
  content: "";
  display: block;
  border: 3px solid #aad044;
  width: 30%;
  margin: 0 auto;
  margin-top: 68px;
  margin-bottom: 76px;
}/*# sourceMappingURL=base.css.map */