* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
}

#navbar {
  display: flex;
  justify-content: space-around;
  padding: 23px 13px;
  font-size: 1.3em;
}

.navbar-brand {
  display: inline-block;
  padding-top: 0.3125rem;
  padding-bottom: 0.3125rem;
  margin-right: 0;
  font-size: 1.25rem;
  line-height: inherit;
  white-space: nowrap;
}

.navbar-light .navbar-brand {
  color: rgba(0, 0, 0, 0.9);
  width: 100px;
}

.fixed-top {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1030;
}

.bg-light {
  background-color: transparent !important;
}

.fixed-top.scrolled {
  background-color: #000 !important;
  transition: background-color 200ms linear;
  height: 150px;
}

.dropdown:hover .dropdown-menu {
  display: block;
  margin-top: 0;
}

.d-md-block {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 161px;
}

.navbar-light .navbar-toggler {
  border-color: #fff;
  color: #fff;
}

.nav-link .dropdown-toggle .Nav {
  color: #fff !important;
}

.nav-item .dropdown:hover {
  display: block !important;
}

.nav-link {
  display: block;
  padding: 0.5rem 1rem;
  text-decoration: none;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out;
  color: #FFF;
}

.navbar-light .navbar-toggler-icon {
  color: #fff !important;
  background-color: #fff;
}

.navbar-toggler-icon {
  color: #fff;
}

#Logo {
  width: 173px;
}

.Container-Nav {
  padding: 0;
}

.Box-Nav {
  padding: 0;
  height: 120px;
}

.navbar-nav {
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}

.navbar-toggler-icon {
  color: #fff;
}

.Home {
  color: #6b90bb !important;
  font-size: 1.3rem;
}

.Home.scrolled, .Nav.scrolled {
  color: #6b90bb !important;
}

.dropdown-toggle, .nav-link:hover {
  color: #aad044 !important;
}

.Background-Nav {
  background-color: #000;
}

.Nav {
  color: #fff !important;
  font-size: 1.3rem;
}

.Subtitle {
  background-color: #6b90bb;
}
.Subtitle .Subtitle-Item {
  color: #fff;
  transition: 0.3s;
}
.Subtitle .Subtitle-Item::after {
  content: "";
  display: block;
  border-bottom: 1px solid #aad044;
}

.Subtitle-Item:hover {
  background-color: #aad044;
}

.Caption .Trail {
  color: #6b90bb;
  font-family: "Barlow", sans-serif;
  font-weight: 700;
  letter-spacing: 5px;
  text-shadow: 0 2px 0 BLACK, 0 2px 0 #e5e5e5, -1px 3px 0 #c8c8c8, -1px 4px 0 #c1c1c1, -2px 5px 0 #b9b9b9, -2px 6px 0 #b2b2b2, -2px 7px 2px rgba(0, 0, 0, 0.6), -2px 7px 8px rgba(0, 0, 0, 0.2), -2px 7px 45px rgba(0, 0, 0, 0.4);
}
.Caption .Legs-alaire {
  color: #aad044;
  font-family: "Barlow", sans-serif;
  font-weight: 700;
  letter-spacing: 5px;
  text-shadow: 0 2px 0 BLACK, 0 2px 0 #e5e5e5, -1px 3px 0 #c8c8c8, -1px 4px 0 #c1c1c1, -2px 5px 0 #b9b9b9, -2px 6px 0 #b2b2b2, -2px 7px 2px rgba(0, 0, 0, 0.6), -2px 7px 8px rgba(0, 0, 0, 0.2), -2px 7px 45px rgba(0, 0, 0, 0.4);
  font-size: 2.4rem;
}

.Container-Carousel {
  margin: 0;
  padding: 0;
  width: 100%;
  border-bottom: 1px solid #60ae46;
}

.Caption .Trail {
  color: #6b90bb;
  font-family: "Barlow", sans-serif;
  font-weight: 700;
  letter-spacing: 5px;
  text-shadow: 0 2px 0 BLACK, 0 2px 0 #e5e5e5, -1px 3px 0 #C8C8C8, -1px 4px 0 #C1C1C1, -2px 5px 0 #B9B9B9, -2px 6px 0 #B2B2B2, -2px 7px 2px rgba(0, 0, 0, 0.6), -2px 7px 8px rgba(0, 0, 0, 0.2), -2px 7px 45px rgba(0, 0, 0, 0.4);
  font-size: 3Rem;
}
.Caption .Legs-alaire {
  color: #aad044;
  font-family: "Barlow", sans-serif;
  font-weight: 700;
  letter-spacing: 5px;
  text-shadow: 0 2px 0 BLACK, 0 2px 0 #e5e5e5, -1px 3px 0 #C8C8C8, -1px 4px 0 #C1C1C1, -2px 5px 0 #B9B9B9, -2px 6px 0 #B2B2B2, -2px 7px 2px rgba(0, 0, 0, 0.6), -2px 7px 8px rgba(0, 0, 0, 0.2), -2px 7px 45px rgba(0, 0, 0, 0.4);
  font-size: 2.4Rem;
}

.go {
  background-color: #aad044;
  border: 1px solid #000;
  color: #fff;
  padding: 15px 25px;
  font-size: 24px;
  border-radius: 12px;
  text-transform: uppercase;
  cursor: pointer;
  box-shadow: 0 9px #60ae46;
  margin-bottom: 20px;
}

.go:hover {
  box-shadow: 0 6px #60ae46;
  transform: translateY(3px);
}

.go:active {
  transform: translateY(7px);
  box-shadow: 0 2px #60ae46;
}

.Section-parallax {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.6)), url("../img/section.JPG");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.caption-paragraphe {
  margin-top: 0;
  margin-bottom: 1rem;
  padding-top: 100px;
}

.Box-Table {
  display: flex;
  justify-content: center;
}

.table {
  --bs-table-bg: transparent;
  --bs-table-striped-color: #212529;
  --bs-table-striped-bg: rgba(0, 0, 0, 0.05);
  --bs-table-active-color: #212529;
  --bs-table-active-bg: rgba(0, 0, 0, 0.1);
  --bs-table-hover-color: #212529;
  --bs-table-hover-bg: rgba(0, 0, 0, 0.075);
  margin-bottom: 1rem;
  color: #212529;
  vertical-align: top;
  border-color: #dee2e6;
  width: 50%;
  background-color: #000;
}

.Title-Table {
  text-align: center;
  display: flex;
  flex-direction: column;
  padding: 50px;
  padding: 0;
  background-color: var(--bs-table-bg);
  border-bottom-width: 1px;
  box-shadow: inset 0 0 0 9999px var(--bs-table-accent-bg);
  padding: 0.5rem 0.5rem;
  background-color: #fff;
}

.Table-Caption {
  font-size: 3rem;
  font-family: "Spinnaker", sans-serif;
  color: #aad044;
  letter-spacing: 0.5rem;
  margin-bottom: 50px;
}

.Table-Caption::after {
  content: "";
  display: block;
  border: 3px solid #aad044;
  width: 10%;
  margin: 0 auto;
  padding-right: 100px;
  margin-bottom: 50px;
}

.Table-thead {
  color: #fff;
  font-size: 3rem;
  text-shadow: 3px 3px 3px #000;
}

.Table-Tbody {
  color: #fff;
  font-size: 3rem;
  text-shadow: 3px 3px 3px #000;
}

.value {
  font-size: 3rem;
  padding: 0;
  color: #aad044;
}

.Go-Gif {
  margin-top: 50px;
}

tbody, td, tfoot, th, thead, tr {
  border-color: inherit;
  border-style: solid;
  border-width: 0;
  font-size: 1.9rem;
}

.table > :not(caption) > * > * {
  padding: 0.5rem 0.5rem;
  background-color: var(--bs-table-bg);
  border-bottom-width: 0px;
  box-shadow: inset 0 0 0 9999px var(--bs-table-accent-bg);
}

.Actualite-Title h2 {
  text-align: center;
  padding-top: 100px;
  color: #aad044;
  padding: 50px;
}

.Actualite-Title::before {
  content: "";
  display: block;
  border: 3px solid #aad044;
  width: 30%;
  margin: 0 auto;
  margin-top: 50px;
}

.Actualite-Title::after {
  content: "";
  display: block;
  border: 3px solid #aad044;
  width: 30%;
  margin: 0 auto;
  margin-bottom: 68px;
}

.Img-Logo {
  float: left;
  padding: 5px 10px;
}

.Paragraph-Socio {
  text-align: justify;
  color: #fff;
  font-family: "Barlow", sans-serif;
  font-weight: 400;
  margin-top: 50px;
}

.Paragraph-Socio::after {
  content: "";
  display: block;
  border: 3px solid #aad044;
  width: 30%;
  margin: 0 auto;
  margin-top: 68px;
  margin-bottom: 76px;
}

.Carousel-Partenaires {
  padding-top: 108px;
  padding-bottom: 103px;
}

.partenaires {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: -36px;
  margin-bottom: -13px;
}

.align-middle {
  vertical-align: middle !important;
  text-align: center;
}

.carousel-control-next i, .carousel-control-prev i {
  font-size: 2rem;
}

.sponsor {
  background-color: #000;
}

.Video::after {
  content: "";
  display: block;
  border: 3px solid #aad044;
  width: 30%;
  margin: 0 auto;
  margin-top: 50px;
}

.Box-Video {
  padding: 0;
}

.Video-Trail {
  border-top: 4px solid #6b90bb;
  border-bottom: 4px solid #6b90bb;
  padding: 0;
}

.Box-Video::before {
  content: "";
  display: block;
  border: 3px solid #aad044;
  width: 30%;
  margin: 0 auto;
  margin-bottom: 50px;
}

.News-Trail {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 50px;
  padding-bottom: 50px;
}

.Menu {
  display: flex;
  flex-direction: row;
  margin-top: 110px;
}

.text-white {
  color: #aad044 !important;
  background-color: #6b90bb;
  text-shadow: 1px 1px 1px #fff;
}

.btn-primary {
  background-color: #aad044;
}

.Menu::after {
  content: "";
  display: block;
  border: 3px solid #aad044;
  width: 30%;
  margin: 0 auto;
  margin-top: 50px;
  margin-bottom: 50px;
}

.Paragraph-Breaking-News {
  border-left: 3px solid #aad044;
  height: 388px;
}

.Paragraph-Actualite {
  text-align: justify;
  color: #6b90bb;
}

.News1 h2 {
  color: #aad044;
  text-align: center;
}

.Breaking-News h2 {
  color: #aad044;
  text-align: center;
  padding-top: 50px;
}

.box-breaking {
  padding-left: 50px;
}

.Paragraph-Breaking-News p {
  padding-top: 96px;
  text-align: justify;
  color: #6b90bb;
  padding-left: 34px;
}

.boxInfoImg {
  margin-top: 50px;
  margin-bottom: 50px;
}

.boxImg {
  position: relative;
  top: 50%;
  left: 3%;
  overflow: hidden;
}

.boxImg img {
  width: 100%;
  height: 100%;
}

.boxImg .infos-hover {
  display: block;
  position: absolute;
  left: 11px;
  bottom: 0;
  width: 95%;
  height: 0;
  color: #fff;
  text-align: center;
  background: rgba(0, 0, 0, 0.8);
  transition: all 0.5s;
}

.boxImg .infos-hover i {
  margin-top: 165px;
  font-size: 50px;
}

.boxImg:hover .infos-hover {
  height: 100%;
}

.linkRun {
  display: block;
  margin-top: 10px;
  color: #fff !important;
  text-decoration: none;
}

.Footer {
  text-align: center;
  color: #fff;
  font-family: "Barlow", sans-serif;
  font-weight: 700;
  letter-spacing: 0.3rem;
  text-shadow: 1px 2px 1px #000;
  font-size: 1.5rem;
  margin-bottom: 15px;
  width: 27%;
}
.Footer a {
  text-decoration: none;
  color: #fff;
  font-size: 1.5rem;
}
.Footer P {
  text-decoration: none;
  color: #fff;
  font-size: 1.5rem;
  margin: 0;
}

.Box-Footer {
  flex-direction: row;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 23px;
}

.Footer-parallax {
  background-color: #000;
  display: flex;
  align-items: center;
}

i {
  color: #aad044;
}

.Footer-parallax::before {
  content: "";
  display: inline-block;
  border: 3px solid #aad044;
  vertical-align: middle;
  width: 36rem;
}

.Footer-parallax::after {
  content: "";
  display: block;
  border: 3px solid #aad044;
  width: 25%;
  margin: 0 auto;
}

.copyright p {
  text-align: center;
  padding-top: 50px;
  color: #fff;
  font-family: "Barlow", sans-serif;
  font-weight: 700;
  text-shadow: 1px 2px 2px #000;
  font-size: 1rem;
}

.Box-Contact {
  margin-top: 87px;
}/*# sourceMappingURL=base.css.map */