* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
}

.BoxForm {
  height: 200vh;
  background-color: rgba(255, 255, 255, 0.8);
  padding-top: 0px;
}

.Form-Contact {
  display: flex;
  flex-direction: column;
  align-items: center;
}

input,
optgroup,
select,
textarea {
  margin: 15px;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  box-shadow: -5px 7px 12px 3px rgba(0, 0, 0, 0.44);
}

.form-control::-moz-placeholder {
  color: #6b90bb;
}

.form-control:-ms-input-placeholder {
  color: #6b90bb;
}

.form-control::placeholder {
  color: #6b90bb;
}

.contactEnvelope {
  vertical-align: middle;
  border-style: none;
  width: 100%;
  margin-top: 13%;
  box-shadow: -5px 7px 12px 3px rgba(0, 0, 0, 0.44);
}

iframe {
  display: block;
  margin: 0 auto;
  width: 50%;
  margin-top: 40px;
  border: 2px solid #6b90bb;
}

.Body-parallax {
  background-image: url("/img/parallax-contact.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
}

.Title-Form {
  text-align: center;
  padding: 108px;
  color: #000;
  margin-top: 123px;
}
.Title-Form h1 {
  font-family: "Lato", "Arial", sans-serif;
  font-weight: 700;
  font-size: 5rem;
  letter-spacing: 0.2rem;
}
.Title-Form h1::before {
  content: "";
  display: inline-block;
  vertical-align: middle;
  width: 6.3rem;
  height: 6px;
  background: #aad044;
}
.Title-Form h1::after {
  content: "";
  display: inline-block;
  vertical-align: middle;
  width: 6.3rem;
  height: 6px;
  background: #aad044;
}

.President {
  text-align: center;
  font-family: "Lato", "Arial", sans-serif;
  padding: 15px;
}
.President h2 {
  font-family: "Lato", "Arial", sans-serif;
  font-size: 3rem;
  color: #aad044;
  text-shadow: 1px 1px 1px #000;
  margin-bottom: 30px;
}
.President p {
  font-family: "roboto", "Arial", sans-serif;
  font-size: 1.5rem;
  font-weight: 500;
}

.treasurer {
  text-align: center;
  font-family: "Lato", "Arial", sans-serif;
  padding: 15px;
}
.treasurer h2 {
  color: #6b90bb;
  font-size: 3rem;
  text-shadow: 1px 1px 1px #000;
  margin-bottom: 30px;
}
.treasurer p {
  font-family: "roboto", "Arial", sans-serif;
  font-size: 1.5rem;
  font-weight: 500;
}

.address {
  text-align: center;
}

.sub {
  text-align: center;
  padding: 15px;
}
.sub p {
  font-family: "roboto", "Arial", sans-serif;
  font-size: 1.5rem;
  font-weight: 500;
}

.phone {
  padding-bottom: 15px;
  margin-top: 30px;
}
.phone a {
  color: #aad044;
  text-shadow: -2px 2px 2px #000;
  font-size: 2rem;
  text-decoration: none !important;
}

.phone:after {
  content: "";
  display: block;
  border: 3px solid #6b90bb;
  width: 25%;
  margin: 0 auto;
  margin-top: 50px;
}

.Box-Form {
  height: 1713px;
  background-color: rgba(255, 255, 255, 0.8);
  padding-top: 0px;
}

.Box-Form::after {
  content: "";
  display: block;
  border: 3px solid #aad044;
  width: 50%;
  margin: 0 auto;
  margin-top: 50px;
}

.mail a {
  color: #000;
  font-family: "roboto", "Arial", sans-serif;
  font-size: 1.2rem;
  font-weight: 400;
  text-decoration: none !important;
}

.btn {
  display: block;
  margin: 0 auto;
  border: 2px solid #aad044;
  font-family: "roboto", "Arial", sans-serif;
  font-size: 1.5rem;
  font-weight: 500;
}

.btn:hover {
  border: 2px solid #6b90bb;
}/*# sourceMappingURL=contact.css.map */