body {
  width: 100%;
}

.barAdmin {
  background: linear-gradient(to right, #bbd2c5, #536976);
}

.paragraphAdmin {
  text-align: center;
  font-family: "Roboto", "Arial", sans-serif;
  font-weight: 700;
  font-size: 1.5rem;
}

.userAdmin {
  text-align: end;
  margin-right: 7rem;
  margin: 0 auto;
  margin-top: 5px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 50%;
}
.userAdmin a {
  color: #aad044;
  text-decoration: none;
  font-family: "Roboto", "Arial", sans-serif;
  font-weight: 700;
}
.userAdmin i {
  margin-right: 10px;
}

.profile img {
  border-radius: 50%;
  width: 153%;
}

.titleAdmin {
  font-family: "Lato", "Arial", sans-serif;
  font-weight: 700;
  font-size: 1.4rem;
  padding-right: 10px;
  color: #fff;
}

.addAdmin {
  text-align: end;
  margin-right: 20rem;
}

.DashboardNav {
  list-style: none;
  padding: 0;
  margin-top: 6rem;
}

.vertical {
  display: inline-block;
  border-right: 2px solid black;
  height: 700px;
}

.boxDashboard {
  display: block;
  margin: 0 auto;
}

.dashboardItem {
  margin: 10px 10px 30px 10px;
}
.dashboardItem a {
  text-decoration: none;
  padding: 10px;
  font-family: "Roboto", "Arial", sans-serif;
  font-weight: 700;
  font-size: 1rem;
  color: #aad044;
}

.pageAdmin {
  padding: 0;
}

.adminVew {
  margin-right: 0px;
  margin-left: 0px;
}

.backgroundDashboard {
  background: #848d94;
}

.table {
  overflow: scroll;
}

.table td, .table th {
  padding: 0.75rem;
  vertical-align: top;
  border-top: 1px solid #dee2e6;
  text-align: center;
}

th,
td {
  text-align: justify;
}

.subtitle {
  width: 75px;
}

.table thead th {
  text-align: center;
}

thead {
  color: #6b90bb;
}

tbody {
  color: #4c63a4;
}

.CreateAdmin .h1,
.CreateAdmin h1 {
  font-size: 1.5rem;
  margin-bottom: 4rem;
}
.CreateAdmin label,
.CreateAdmin .btn,
.CreateAdmin .backList {
  color: #fff;
  font-family: "Roboto", "Arial", sans-serif;
  font-weight: 700;
  display: block;
  margin: 0 auto;
  text-decoration: none;
  transition: color 0.3s;
}
.CreateAdmin .dataTables_wrapper .dataTables_filter {
  float: right;
  text-align: right;
  margin-left: 1rem;
}
.CreateAdmin .btn-outline-success {
  color: #aad044 !important;
}
.CreateAdmin .backList {
  border: 1px solid #fff;
  width: 20%;
  padding: 10px;
  text-align: center;
  border-radius: 3px;
  position: relative;
  overflow: hidden;
  cursor: pointer;
  margin-bottom: 10px;
  margin-top: 5px;
}
.CreateAdmin .backList span {
  position: relative;
  z-index: 2;
  color: #fff;
  transition: color 0.3s ease-in-out;
}
.CreateAdmin .backList::after {
  content: "";
  position: absolute;
  background: #000;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  transition: transform 0.3s;
}
.CreateAdmin .backList:hover::after {
  transform: translateY(-100%);
}
.CreateAdmin .backList:hover span {
  color: #aad044;
}
.CreateAdmin .btn:hover {
  color: #aad044;
}
.CreateAdmin textarea {
  height: 300px;
}

.edit {
  text-decoration: none !important;
  list-style: none !important;
  color: #aad044;
  font-family: "Roboto", "Arial", sans-serif;
  font-weight: 700;
  font-size: 1rem;
  transition: 1s;
}

.col-2 {
  flex: 0 0 12.666667%;
  max-width: 16.666667%;
  margin-top: 8rem;
}

.dataTables_wrapper .dataTables_filter input {
  border: 1px solid #000;
  border-radius: 3px;
  padding: 5px;
  background-color: transparent;
  margin-left: 3px;
  background: #fff !important;
  margin-bottom: 5rem;
}/*# sourceMappingURL=dashboard.css.map */