.headerCarousel {
  background-color: #121519;
}

.carousel-control-next, .carousel-control-prev {
  position: absolute;
  top: 0;
  bottom: 0;
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 15%;
  padding: 0;
  color: #fff;
  text-align: center;
  background: 0;
  border: 0;
  opacity: 0.5;
  transition: opacity 0.15s ease;
}

.trail {
  color: #6b90bb;
  font-family: "Barlow", sans-serif;
  font-weight: 700;
  letter-spacing: 5px;
  text-shadow: 0 2px 0 BLACK, 0 2px 0 #e5e5e5, -1px 3px 0 #C8C8C8, -1px 4px 0 #C1C1C1, -2px 5px 0 #B9B9B9, -2px 6px 0 #B2B2B2, -2px 7px 2px rgba(0, 0, 0, 0.6), -2px 7px 8px rgba(0, 0, 0, 0.2), -2px 7px 45px rgba(0, 0, 0, 0.4);
  font-size: 6em;
}

.Legs-alaire {
  color: #aad044;
  font-family: "Barlow", sans-serif;
  font-weight: 700;
  letter-spacing: 5px;
  text-shadow: 0 2px 0 BLACK, 0 2px 0 #e5e5e5, -1px 3px 0 #C8C8C8, -1px 4px 0 #C1C1C1, -2px 5px 0 #B9B9B9, -2px 6px 0 #B2B2B2, -2px 7px 2px rgba(0, 0, 0, 0.6), -2px 7px 8px rgba(0, 0, 0, 0.2), -2px 7px 45px rgba(0, 0, 0, 0.4);
  font-size: 4em;
}

.carousel-caption {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 86%;
  padding-top: 200px;
}

.carousel-item::after {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: linear-gradient(rgba(0, 0, 0, 0.44), rgba(0, 0, 0, 0.55));
}

.numbers {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  font-family: sans-serif;
}

.titleCounter {
  text-align: center;
  margin-top: 0;
  margin-bottom: 117px;
  font-size: 3rem;
  font-family: "Roboto", "Arial", sans-serif;
  font-weight: 700;
  color: #aad044;
  letter-spacing: 0.5rem;
}

.titleCounter::after {
  content: "";
  display: block;
  border: 3px solid #aad044;
  width: 36%;
  margin: 0 auto;
  padding-right: 100px;
  margin-bottom: 50px;
  margin-top: 27px;
}

#days, #hours, #minutes, #seconds {
  color: #aad044;
  font-size: 4em;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.blockDays, .blockHours, .blockMinutes, .blockSeconds {
  background: #000;
  width: 18%;
  box-shadow: -5px 12px 9px rgba(0, 0, 0, 0.6);
}

.Section-parallax {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.6)), url("../img/section.JPG");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 80vh;
}

.Actualite-Title h2 {
  text-align: center;
  padding-top: 100px;
  color: #aad044;
  padding: 50px;
}

.Actualite-Title::before {
  content: "";
  display: block;
  border: 3px solid #aad044;
  width: 30%;
  margin: 0 auto;
  margin-top: 50px;
}

.Actualite-Title::after {
  content: "";
  display: block;
  border: 3px solid #aad044;
  width: 30%;
  margin: 0 auto;
  margin-bottom: 68px;
}

.Img-Logo {
  float: left;
  padding: 5px 10px;
}

.Paragraph-Socio {
  text-align: justify;
  color: #fff;
  font-family: "Lato", "Arial", sans-serif;
  font-weight: 400;
  margin-top: 50px;
}

.Paragraph-Socio::after {
  content: "";
  display: block;
  border: 3px solid #aad044;
  width: 30%;
  margin: 0 auto;
  margin-top: 68px;
  margin-bottom: 76px;
}

.boxpresentation {
  position: relative;
  top: 51%;
  left: 50%;
  transform: translate(-50%, 4%);
  width: 82em;
  height: 43em;
  text-align: center;
  background: rgba(0, 0, 0, 0.3);
  color: #fff;
  line-height: 1.7em;
  padding: 6.5em;
}

.fade-in {
  opacity: 1;
}

.Carousel-Partenaires {
  padding-top: 108px;
  padding-bottom: 103px;
}

.partenaires {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: -36px;
  margin-bottom: -13px;
}

.align-middle {
  vertical-align: middle !important;
  text-align: center;
}

.carousel-control-next i, .carousel-control-prev i {
  font-size: 2rem;
  color: #aad044;
}

.sponsor {
  background-color: #000;
}/*# sourceMappingURL=homes.css.map */