.imgRunPage {
  background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.6)), url("/img/run.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 70vh;
}

.titleRun h1 {
  padding-top: 20px;
  color: #aad044;
  padding-left: 0px;
  letter-spacing: 0.5rem;
  font-family: "Roboto", "Arial", sans-serif;
  font-weight: 700;
  font-size: 1.6rem;
}
.titleRun h1::before {
  content: "";
  display: inline-block;
  vertical-align: middle;
  width: 2.7rem;
  height: 4px;
  background: #aad044;
}
.titleRun h1::after {
  content: "";
  display: inline-block;
  vertical-align: middle;
  width: 2.7rem;
  height: 4px;
  background: #aad044;
}

.RunLink {
  width: 67%;
  padding: 15px 38px;
  color: #cacaca;
  font-size: 1.3rem;
  font-weight: 500;
  cursor: pointer;
  border: none;
  border-radius: 999px;
  box-shadow: 6px 6px 12px #c9c9c9, -6px -6px 12px #fff;
  display: block;
  margin: 0 auto;
}
.RunLink a {
  color: #aad044;
  text-decoration: none;
  font-family: "Roboto", "Arial", sans-serif;
  font-size: 1.3rem;
  font-weight: 700;
  transition: 1s;
}
.RunLink a:hover {
  color: #6b90bb !important;
}

.boximgRun .verticalPicture {
  margin-top: 55px;
  margin-left: 5px;
  width: 100%;
}

.infoRun P {
  font-family: "Roboto", "Arial", sans-serif;
  font-size: 1.3rem;
  font-weight: 700;
  color: #303030;
  text-align: justify;
}
.infoRun P ::after {
  content: "";
  display: block;
  border: 1px solid #aad044;
  width: 70%;
  margin: 0 auto;
  padding-right: 100px;
  margin-bottom: 50px;
  margin-top: 2px;
  transition: 2s;
}
.infoRun .descriptionRun p {
  font-family: "Roboto", "Arial", sans-serif;
  font-size: 1.3rem;
  font-weight: 400;
  color: #303030;
  padding: 12px;
  margin-left: 1rem;
}
@media screen and (min-width: 1024px) {
  .infoRun .boximgRun .verticalPicture {
    margin-top: 6rem;
  }
  .infoRun .verticalPicture {
    width: 90%;
  }
  .infoRun .titleRun h1 {
    letter-spacing: 0.2rem;
  }
  .infoRun .infoRun P {
    font-size: 1.1rem;
  }
  .infoRun .descriptionRun p {
    padding: 12px;
  }
  .infoRun .boximgRun .verticalPicture {
    width: 100%;
  }
}
@media screen and (min-width: 992px) {
  .infoRun .RunLink {
    width: 50%;
  }
}
@media screen and (min-width: 768px) {
  .infoRun .boximgRun .verticalPicture {
    margin-top: 5rem;
  }
  .infoRun .verticalPicture {
    width: 85%;
  }
  .infoRun .RunLink {
    width: 68%;
  }
  .infoRun .titleRun h1 {
    letter-spacing: 0rem;
    padding-left: 0px;
    font-size: 1.6rem;
  }
  .infoRun .boximgRun .verticalPicture {
    width: 100%;
  }
}
@media screen and (min-width: 425px) {
  .infoRun .verticalPicture {
    width: 93%;
  }
  .infoRun .boximgRun .verticalLine {
    display: inline-block;
    border-left: 0 !important;
    height: 0px;
  }
  .infoRun .boximgRun .verticalPicture {
    margin-top: 5rem;
    margin-left: 0px;
    margin-bottom: 22rem;
  }
  .infoRun .RunLink {
    width: 56%;
  }
  .infoRun .titleRun h1 {
    letter-spacing: 0rem;
    font-size: 2rem;
  }
}
@media screen and (min-width: 375px) {
  .infoRun .boximgRun .verticalLine {
    display: inline-block;
    border-left: 0;
    height: 0px;
  }
}
.infoRun .boximgRun .verticalPicture {
  margin-top: 4rem;
  margin-left: 0px;
  margin-bottom: 16rem;
}
.infoRun .verticalPicture {
  width: 93%;
}
.infoRun .titleRun h1 {
  letter-spacing: 0rem;
  font-size: 1.4rem;
}
.infoRun .RunLink {
  width: 64%;
}
@media screen and (min-width: 320px) {
  .infoRun .RunLink {
    width: 76%;
  }
  .infoRun .boximgRun .verticalLine {
    display: inline-block;
    border-left: 0;
    height: 0px;
  }
  .infoRun .titleRun h1 {
    letter-spacing: 0rem;
    font-size: 1.2rem;
  }
}/*# sourceMappingURL=race.css.map */