$color1: #aad044;
$color2: #6b90bb;
$color3: #fff;
$color4: #60ae46;
$color5: #000;
$color6: #303030;

// -----------------RUN--------------------

// .raceSection{

//     background: linear-gradient(-90deg, rgba(0, 0, 0, 1), rgba(67, 67, 67, .8 ));
// }

.imgRunPage {
  background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.6)),
    url("/img/run.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 70vh;
}

.titleRun {
  h1 {
    // padding-top: 20px;
    // color: $color1;
    // padding-left: 34px;
    // letter-spacing: 0.5rem;
    // font-family: "Roboto", "Arial", sans-serif;
    // font-weight: 700;
    // font-size: 1.8rem;
    
        padding-top: 20px;
        color: #aad044;
         padding-left: 0px;
        letter-spacing: 0.5rem;
        font-family: "Roboto", "Arial", sans-serif;
        font-weight: 700;
        font-size: 1.6rem;
    
  }

  h1::before {
    content: "";
    display: inline-block;
    vertical-align: middle;
    width: 2.7rem;
    height: 4px;
    background: $color1;
  }

  h1::after {
    content: "";
    display: inline-block;
    vertical-align: middle;
    width: 2.7rem;
    height: 4px;
    background: $color1;
  }
}

.RunLink {
  // border: 1px solid $color3;
  // border-radius: 20px;
  // background-color: $color5 !important;
  // box-shadow: 2px 2px 5px 0px;
  // width: 40%;
  width: 67%;
  // display: block;
  // margin: 0 auto;
  // padding: 9px;
  // transition: 2s !important;

  // display: block;
  // width: auto;
  padding: 15px 38px;
  // border: 3px solid $color1;
  // border-radius: 999px;
  // background: $color2;
  color: #cacaca;
  font-size: 1.3rem;
  font-weight: 500;
  cursor: pointer;
  border: none;
  border-radius: 999px;
  box-shadow: 6px 6px 12px #c9c9c9, -6px -6px 12px #fff;
  display: block;
  margin: 0 auto;

  a {
    color: $color1;
    text-decoration: none;
    font-family: "Roboto", "Arial", sans-serif;
    font-size: 1.3rem;
    font-weight: 700;
    transition: 1s;
  }

  a:hover {
    color: $color2 !important;
  }
}

.boximgRun {
  .verticalPicture {
    margin-top: 55px;
    margin-left: 5px;
    width: 100%;
  }

//   .verticalLine {
//     display: inline-block;
//     border-left: 2px solid #aad044;
//     height: 517px;
//   }
}

.infoRun {
  P {
    font-family: "Roboto", "Arial", sans-serif;
    font-size: 1.3rem;
    font-weight: 700;
    color: $color6;
    text-align: justify;

    ::after {
      content: "";
      display: block;
      border: 1px solid #aad044;
      width: 70%;
      margin: 0 auto;
      padding-right: 100px;
      margin-bottom: 50px;
      margin-top: 2px;
      transition: 2s;
    }

    // }

    // P:hover::after {

    //     content: "";
    //     display: block;
    //     border: 1px solid #aad044;
    //     width: 34%;
    //     margin: 0 auto;
    //     padding-right: 100px;
    //     margin-bottom: 50px;
    //     margin-top: 2px;

    // }
  }

  .descriptionRun {
    p {
      font-family: "Roboto", "Arial", sans-serif;
      font-size: 1.3rem;
      font-weight: 400;
      color: $color6;
      padding: 12px;
      margin-left: 1rem;
    }
  }

  // -----------END------RUN--------------------

  // ------MEDIA QUERY-----

  @media screen and (min-width: 1024px) {
    .boximgRun .verticalPicture {
      margin-top: 6rem;
    }

    .verticalPicture {
      width: 90%;
    }

    .titleRun h1 {
      letter-spacing: 0.2rem;
    }

    .infoRun P {
      font-size: 1.1rem;
    }

    .descriptionRun p {
      padding: 12px;
    }

    .boximgRun .verticalPicture {
      width: 100%;
    }
  }

  @media screen and (min-width: 992px) {
    .RunLink {
      width: 50%;
    }
  }

  @media screen and (min-width: 768px) {
    .boximgRun .verticalPicture {
      margin-top: 5rem;
    }

    .verticalPicture {
      width: 85%;
    }

    .RunLink {
        width: 68%;
    }

    .titleRun h1 {
      letter-spacing: 0rem;
      padding-left: 0px;
      font-size: 1.6rem;
    }

    .boximgRun .verticalPicture {
      width: 100%;
    }
  }


  @media screen and (min-width: 425px) {
    .verticalPicture {
      width: 93%;
    }

    
    .boximgRun .verticalLine {
      display: inline-block;
      border-left: 0!important;
      height: 0px;
    }

    .boximgRun .verticalPicture {
      margin-top: 5rem;
      margin-left: 0px;
      margin-bottom: 22rem;
    }
    .RunLink {
    //   width: 55%;
    width: 56%;
    }
    .titleRun h1 {
      letter-spacing: 0rem;
      font-size: 2rem;
    }
  }

  @media screen and (min-width: 375px) {
    .boximgRun .verticalLine {
      display: inline-block;
      border-left: 0;
      height: 0px;
    }
  }
  .boximgRun .verticalPicture {
    margin-top: 4rem;
    margin-left: 0px;
    margin-bottom: 16rem;
  }

  .verticalPicture {
    width: 93%;
  }
  .titleRun h1 {
    letter-spacing: 0rem;
    // font-size: 1.7rem;
    font-size: 1.4rem;
  }

  .RunLink {
    width: 64%;
  }

  @media screen and (min-width: 320px) {
    .RunLink {
        // width: 64%
        width: 76%;
    }

    .boximgRun .verticalLine {
      display: inline-block;
      border-left: 0;
      height: 0px;
    }

    .titleRun h1 {
      letter-spacing: 0rem;
    //   font-size: 1.4rem;
    font-size: 1.2rem;
    }
  }
}
