.mainVideo {
  height: 290px;
  width: 275px;
  margin: 30px;
  float: left;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 10rem;
}
.mainVideo img {
  border-radius: 10px;
  height: 290px;
  width: 275px;
  filter: brightness(0.6);
  border-radius: 26px;
  background: linear-gradient(145deg, #dadada, #ffffff);
  box-shadow: 5px 5px 22px #c4c4c4, -5px -5px 22px #ffffff;
}

.titleVideo,
.teaserVideo {
  letter-spacing: 0.5rem;
  font-family: "Roboto", "Arial", sans-serif;
  font-weight: 700;
  font-size: 3em;
  text-transform: uppercase;
  color: #aad044;
  margin-top: 10rem;
  margin-bottom: 10rem;
}

.boxVideos {
  display: flex;
  justify-content: center;
}

.titleVideo::after {
  content: "";
  display: inline-block;
  vertical-align: middle;
  width: 3.7rem;
  height: 4px;
  background: #aad044;
  margin-left: 1rem;
}

.titleVideo::before {
  content: "";
  display: inline-block;
  vertical-align: middle;
  width: 3.7rem;
  height: 4px;
  background: #aad044;
  margin-right: 1rem;
}

.back {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
}
.back h2 {
  position: absolute;
  font-size: 1.5rem;
  margin-bottom: 50px;
  color: #303030;
}
.back a {
  position: absolute;
  top: 50px;
  font-size: 15px;
  font-family: "Roboto", "Arial", sans-serif;
  font-weight: 700;
  font-size: 1.5rem;
  text-decoration: none;
  color: #aad044;
}
.back a:hover {
  background: #aad044;
  -webkit-background-clip: text;
          background-clip: text;
  -webkit-text-fill-color: transparent;
}

.front h3 {
  position: absolute;
  padding: 10px;
  top: 200px;
  color: #303030;
  font-size: 1.8rem;
  font-family: "Roboto", "Arial", sans-serif;
  font-weight: 700;
  background: #aad044;
  text-transform: uppercase;
  border-end-end-radius: 20px;
}

.backFront > .front {
  transform: perspective(600px) rotateY(0deg);
  width: 302px;
  height: 290px;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  transition: transform 0.5s linear 0s;
  margin-right: 35px;
}

.backFront > .back {
  position: absolute;
  transform: perspective(600px) rotateY(180deg);
  background: #000;
  color: #fff;
  width: 302px;
  height: 290px;
  border-radius: 10px;
  padding: 5px;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  transition: transform 0.5s linear 0s;
  border-radius: 26px;
  background: #f2f2f2;
  box-shadow: inset 5px 5px 10px #d5d5d5, inset -5px -5px 10px #ffffff;
}

.backFront:hover > .front {
  transform: perspective(600px) rotateY(-180deg);
}

.backFront:hover > .back {
  transform: perspective(600px) rotateY(0deg);
}

.videoBox {
  display: flex;
  justify-content: center;
}

@media screen and (max-width: 778px) {
  .container {
    max-width: none;
  }
}
@media screen and (max-width: 542px) {
  .titleVideo, .teaserVideo {
    font-size: 1.8em;
  }
}
@media screen and (max-width: 425px) {
  .titleVideo, .teaserVideo {
    font-size: 0.8rem;
  }

  .titleVideo::after {
    width: 1rem;
  }

  .titleVideo::before {
    width: 1rem;
  }

  .mainVideo {
    width: 268px;
  }
}
@media screen and (max-width: 378px) {
  .mainVideo {
    width: 275px;
  }
}/*# sourceMappingURL=video.css.map */