{% extends 'baseAdmin.html.twig' %}

{% block title %}Admin création vidéo | Trail des jambes Allaire{% endblock %}

{% block body %}
    <h1>CREER UNE VIDEO</h1>

    {{ include('videos/_form.html.twig') }}

    <a class="backList" href="{{ path('videos_index') }}"><span>Retour à la liste</span></a>
{% endblock %}
