{% extends 'base.html.twig' %}

{% block title %}Infos pratiques | Trail des jambes Allaire
{% endblock %}

{% block body %}

<section>
    <div class="picturePraticalInfo"></div>

    <h1 class="titlePraticalInfo mt-5 mb-5 py5">INFOS PRATIQUES</h1>

    <div class="container">

        <div class="row">
            <div class="col-sm-12 boxInfoPratical">
                <h2 class="subtitleInfoPratical mt-5 mb-5 py5">Mais c'est où exactement ?</h2>
                <div class="paragraphInfoPratical ">
                    <p class="textInfoPratical text-justify text-center mt-5 mb-5 py5">Le départ et l'arrivée se
                        trouvent à la Ferme de Coueslé 56350 Allaire.<br>
                        Les Coordonnées GPS sont :<br>
                        47°38'13.4"N 2°09'08.9"W
                        47.637047, -2.152475</p>
                    <img class="pictureInfoPratical" src="/img/planCoueslé.png" alt="planCoueslé">

                    <h2 class="subtitleInfoPratical text-center mt-5 mb-5 py5">Où peut-on passer la nuit ?</h2>
                    <p class="textInfoPratical text-justify  mt-5 mb-5 py5">Il est possible de stationner un camping-car
                        ou camion sur le site (cf plus bas).
                        L'hôtel Le Gaudence se trouve à 5' d'échauffement du départ (bon ça dépend de votre allure, mais
                        c'est pour dire que ce n'est pas loin).
                        Il y a également des gîtes ou des chambres d'hôtes.
                        Nous pouvons vous proposer celles de M Josso qui propose un tarif pour le trail (1 personne 30€
                        - 2
                        personnes 40€ - petit déjeuner compris).
                        <a href="https://www.tourisme-pays-redon.com/hebergements/HLOBRE0560056190/detail/allaire/maison-d-hotes-josso"
                            target="bank">
                            Infos et contact.</a>
                        Si vous cherchez un logement, c'est que vous n'êtes pas du coin (ou alors en instance de
                        divorce),
                        du coup il n'est pas inutile de préciser que la grande mégapole REDON est à 10mn de voiture,
                        vous y
                        trouverez de nombreux hôtels et logements.
                        Vu que nous sommes sympas et pour vous aider, voici le lien de
                        <a href="https://www.tourisme-pays-redon.com/dormir/hebergements-0" target="bank">
                            l'office de
                            tourisme.</a>
                    </p>
                </div>


                <div class="paragraphInfoPratical">

                    <h2 class="subtitleInfoPratical text-center mt-5 mb-5 py5">Y’a-t-il des barrières horaires sur les
                        courses ?</h2>
                    <P class="textInfoPratical text-justify mt-5 mb-5 py5">On a le temps. Si vous prenez du plaisir à
                        rêvasser sur nos parcours, comment vous le reprocher ?
                        Si nos bénévoles sont si sympathiques que vous vous attardez un instant au ravitaillement pour
                        échanger quelques mots, comment vous le reprocher ? Si vous avez plein de boulot et pas trop le
                        temps de vous entraîner, comment vous le reprocher ? Cependant, nous ne pouvons laisser les
                        bénévoles dans le froid pendant des heures pour attendre un marcheur. C'est pourquoi nous
                        mettons des barrières horaires très larges
                        <a href="/uploads/photos/REGLEMENT-TRAIL-DES-JAMBES-ALLAIRE-60e220ad3f9c2-60e221b0cc6f7.pdf"
                            target="bank">voir réglement.</a>
                        . Elles permettent à tous d'arriver,
                        mais nous nous autorisons à libérer les bénévoles si un coureur (marcheur) était hors délai.
                        Vous avez donc le temps de faire la course à votre rythme.</P>

                </div>


                <div class="paragraphInfoPratical">
                    <h2 class="subtitleInfoPratical text-center mt-5 mb-5 py5">Sera-t-il possible de se restaurer sur
                        place ?</h2>
                    <P class="textInfoPratical text-justify  mt-5 mb-5 py5">Bien sûr ! Une restauration légère (mais
                        délicieuse, comme il se doit) sera proposée, pour des
                        prix modiques (comme il se doit). Galettes, saucisses (différentes combinaisons seront proposées
                        : galette seule, saucisse seule, ou alors, une innovation mondiale : la saucisse dans la
                        galette. On cherche un nom pour cette idée géniale), sandwichs, crêpes mais aussi de quoi se
                        réhydrater dignement après les efforts conséquents que vous aurez fournis auparavant.</P>

                </div>


                <div class="paragraphInfoPratical">
                    <h2 class="subtitleInfoPratical text-center mt-5 mb-5 py5">Et si je veux covoiturer ?</h2>
                    <P class="textInfoPratical text-justify mt-5 mb-5 py5">
                        <a href="https://www.klikego.com/covoiturage/trail-des-jambes-allaire-2020/1463865764159-5"
                            target="bank">Klikego</a>
                        propose un service de covoiturage. Alors jetez-y un oeil et le
                        bon, vous trouverez
                        peut-être un charmant coureur de votre bled paumé qui voudra bien partager son trajet en Renault
                        Fuego et qui sait plus si affinités.</P>
                </div>


                <div class="paragraphInfoPratical">
                    <h2 class="subtitleInfoPratical text-center mt-5 mb-5 py5">Jusqu’à quelle heure la restauration le
                        samedi soir ?</h2>
                    <p class="textInfoPratical text-justify  mt-5 mb-5 py5">(en clair, est-ce que j’ai le temps d’aller
                        me doucher avant de revenir manger tout beau tout
                        propre ?)
                        On a le temps. Donc on vous garantit la disponibilité de la restauration jusqu’à minuit, voire
                        un peu plus si nécessaire. On n’abuse pas trop quand même, on bosse de bonne heure le lendemain
                        matin (et les plus fêlés d’entre vous aussi d’ailleurs).</p>
                </div>


                <div class="paragraphInfoPratical">
                    <h2 class="subtitleInfoPratical text-center mt-5 mb-5 py5">Existe-t-il une possibilité de garer un
                        camping car ou une camionnette ou tout véhicule servant
                        à dormir dedans histoire de reposer les guerriers qui courent le samedi ET le dimanche ?</h2>
                    <P class="textInfoPratical text-justify text-center mt-5 mb-5 py5">Oui. Bien sûr. Je vous montre :
                    </P>
                    <img class="pictureInfoPratical mb-5 py5" src="/img/planCouesleVehicules.jpg"
                        alt="planCouesleVehicules">
                </div>


            </div>
        </div>

    </div>


</section>
{% endblock %}