{% extends 'baseAdmin.html.twig' %}

{% block title %}Edit Category{% endblock %}

{% block body %}
    <h1>Edit Category</h1>

    {{ include('category/_form.html.twig', {'button_label': 'Modifier'}) }}

    <a class="backList" href="{{ path('category_index') }}"><span>Retour à la liste</span></a>

    {{ include('category/_delete_form.html.twig') }}
{% endblock %}
