<form method="post" action="{{ path('pictures_delete', {'id': picture.id}) }}" onsubmit="return confirm('Êtes-vous sûr de bien vouloir supprimer cet élément?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ picture.id) }}">
    <button class="btn"><i class="fas fa-trash-alt"></i></button>
</form>
