{% extends 'baseAdmin.html.twig' %}

{% block title %}Admin modifier photos | Trail des jambes Allaire
{% endblock %}

{% block body %}
	<h1>MODIFIER LES PHOTOS</h1>

	{{ include('pictures/_form.html.twig', {'button_label': 'Modifier'}) }}

	<a class="backList" href="{{ path('pictures_index') }}">
		<span>Retour à la liste</span>
	</a>
	{% if  is_granted('ROLE_ADMIN') %}
		{{ include('pictures/_delete_form.html.twig') }}
	{% endif %}

{% endblock %}
