{% extends 'baseAdmin.html.twig' %}

{% block title %}Admin photo{% endblock %}

{% block body %}
    <h1>CREER UNE PHOTO</h1>

    {{ include('pictures/_form.html.twig') }}

    <a class="backList"  href="{{ path('pictures_index') }}"><span>retour à la liste</span></a>
   
{% endblock %}
