{% extends 'base.html.twig' %}

{% block title %}Photos| Trail des jambes Allaire
{% endblock %}

{% block body %}

<section class="bodyPicture">
	

	<div class="container boxPicture">
		<h1 class="titlePictures py-5">LES PHOTOS</h1>

		<div class="row tidyPicture">
			{% for picture in pictures %}
				{# {% if picture.yearsPicture == 2019 %} #}
				<div class=" col-lg-2 col-md-6 ">

					<div class="testimotionals">
						<div class="card">
							<div class="layer"></div>
							<div class="content">
								<p>{{ picture.yearsPicture }}</p>
								<div class="image">
									<img src="/img/coureur.png" alt="vignette coureur">
								</div>
								<div class="details">
									<h2>
										{{ picture.subtitlePicture }}<br><span>
											<a href="{{ picture.linkPicture }}">Lien google</a>
										</span>
									</h2>
								</div>
							</div>
						</div>
					</div>
				</div>
				{# {% endif %} #}
			{% endfor %}


		</div>
	</div>
</section>

{% endblock %}
