{% extends 'base.html.twig' %}

{% block title %}Pictures index
{% endblock %}

{% block body %}

<body class="bodyPicture">

	<div class="container boxPicture py-5">

		
		<h1 class="titlePictures py-5"> LES PHOTOS 2017</h1>

		
	
		<div class="row">
			{% for picture in pictures %}

			{% if picture.yearsPicture == 2017 %}

			<div class="col-6 col-md-2">

				<div class="testimotionals">
					<div class="card">
						<div class="layer"></div>
						<div class="content">
							<p>{{ picture.infoPicture }}</p>
							<div class="image">
								<img src="/img/coureur.png" alt="vignette coureur">
							</div>
							<div class="details">
								<h2>
									{{ picture.subtitlePicture }}<br><span>
										<a href="{{ picture.linkPicture }}">Lien google</a>
									</span>
								</h2>
							</div>
						</div>
					</div>
				</div>
			</div>

			{% endif %}

			{% endfor %}

		</div>
	</div>
</body>
</div>
</body>{% endblock %}