{% extends 'base.html.twig' %} {% block title %} Résultats | Trail des jambes Allaire{% endblock %}
{% block body %}

<section>
    <div class="imgResults"></div>
    <h1 class="titleResults mt-5">RESULTATS</h1>
    <div class="container">
        <div class="row">
            {% for result in results %}
            <div class="col-sm-12 text-center mt-5 py-5 boxResults">
                <h2 class="pictureResults mt-5 mb-5">{{ result.titleResult }}</h2>
                <div class="overlay-pictureResults">
                    <a href="{{ result.linkResult }}"  target="bank" >
                        <img class="image" src="{{ asset('uploads/photos/' ~ result.pictureResult ) }}" width="900"
                            alt="Alt text" />
                        <div class="hover">
                            <div class="text">{{ result.SubtitleResult}}
                            </div>
                        </div>
                    </a>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</section>

{% endblock %}