{% extends 'baseAdmin.html.twig' %} {% block title %}DASHBOARD{% endblock %} {%
block body %}

<div class="imagTableDashboard">
  <img src="/img/adminAccueil1.jpg" alt="admin accueil" />
</div>

{% endblock %}
