{% extends 'baseAdmin.html.twig' %} {% block title %} Administration | Trail des jambes Allaire {% endblock %} {%
block body %}
<div class="imagTableDashboard">
  <img src="/img/adminAccueil1.jpg" alt="admin accueil" />
</div>
{% endblock %}
