{% extends 'base.html.twig' %}

{% block title %}Admin création date trail | Trail des jambes Allaire{% endblock %}

{% block body %}
    <h1>CREER UNE NOUVELLE DATE</h1>

    {{ include('settings/_form.html.twig') }}

    <a class="backList" href="{{ path('settings_index') }}"><span>Retour à la liste</span></a>
{% endblock %}
