{% extends 'baseAdmin.html.twig' %}

{% block title %}Nouvelle course{% endblock %}

{% block body %}
    <h1>CREER UNE NOUVELLE COURSE</h1>

    {{ include('races/_form.html.twig') }}

    <a class="backList" href="{{ path('races_index') }}"><span>retour à la liste</span></a>
{% endblock %}
