{% extends 'base.html.twig' %}

{% block title %}New Items
{% endblock %}

{% block body %}

	<body class="backgroundGoldenBook">
	<div class="container pageGoldenBook py-5">
        <div class="linkGoldenBook">
            <a href="{{ path('comments_index') }}"><span>Retour livre d'or</span></a>
        </div>
        
       
    <div class="titleGoldenBook mt-5">
        <h1>Nouveau message</h1>
    </div>
		<div class="row boxGoldenBook mt-5 py-5">
			<div class="col-sm-6  formGoldenBook">
				{{ include('items/_form.html.twig') }}

			</div>
			<div class="col-sm-6 logoGoldenBook">
				<img src="/img/messageTrailLivredor.png" alt="logoCoureur">
			</div>
		</div>
	</div>

</body>	

    {% endblock %}
	
