{% extends 'baseAdmin.html.twig' %}

{% block title %}Edit Partners{% endblock %}

{% block body %}
    <h1>Modifier Partenaire</h1>

    {{ include('partners/_form.html.twig', {'button_label': 'Modifier'}) }}

    <a class="backList" href="{{ path('partners_index') }}"><span>Retour à la liste</span></a>

    {{ include('partners/_delete_form.html.twig') }}
{% endblock %}
