{% extends 'baseAdmin.html.twig' %}

{% block title %}New Partners{% endblock %}

{% block body %}
    <h1>CREER UN NOUVEAU PARTENAIRE</h1>

    {{ include('partners/_form.html.twig') }}

    <a class="backList" href="{{ path('partners_index') }}"><span>retour à la liste</span></a>
{% endblock %}
