{% extends 'base.html.twig' %}

{% block title %}Utilisateur{% endblock %}

{% block body %}






<body class="bodyUser">




    <section class="sectionUser">


        <div class="container userAdminBox py-5">


            <div class="row mt-5">
                <div class="col-md-3"></div>

                <div class="col-md-6 boxUser mt-5 mb-5 py-5">
                    <div class="pictureUser ">
                        <img src="/img/adminLogin.png" alt="image login" class="imgUser">
                    </div>
                    <h1 class="titleUser mt-3">ADMIN</h1>


                    {{ include('user/_form.html.twig') }}

                </div>
                <div class="col-md-3"></div>
            </div>
            <a href="{{ path('user_index') }}" class="linkUser">Retour administrateur</a>

        </div>

        
    </section>

</body>
{% endblock %}