{% extends 'baseAdmin.html.twig' %}

{% block title %}Admin contact{% endblock %}

{% block body %}
    <h1>MODIFIER CONTACT</h1>

    {{ include('contacts/_form.html.twig', {'button_label': 'Modifier'}) }}

    <a class="backList"  href="{{ path('contacts_index') }}"><span>Retour à la liste</span></a>

    {{ include('contacts/_delete_form.html.twig') }}
{% endblock %}
